body {
    background-color: #CCC9EC;
}
#container {
    font-family: 'Ribeye', sans-serif;
    position: absolute;
    left: 115px;
    background-color: #CCC9EC;
    width: 84%;
    height: 700px;
    margin: 0 auto;
    
}

.header h1 {
    position: absolute;
    width: 437px;
    height: 71px;
    left: 27px;
    top: 20px; 
    font-family: 'Ribeye', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 30px;
    color: #BB6565;
}

/* .score {
    left: 527px;
    top: 44px;

} */
.header h3 {
    position: absolute;
    width: 131px;
    height: 38px;
    left: 527px;
    top: 44px;
}
.letter-storage {
    background-color: #ffffff;
    position: absolute;
    width: 253px;
    height: 456px;
    left: 765px;
    top: 44px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.letter-box {
    width: 240px;
    height: 445px;
    left: 770px;
    top: 44px;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-left: 6px;
    
}

.letters {
    /* background-color: #BB6565; */
    display: inline-table;
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px; 
    font-size: 22px;

}
.game-display {
    background-image: url('../images/roads.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    position: absolute;
    width: 629px;
    height: 386px;
    left: 49px;
    top: 114px;
    box-shadow:  inset 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.car {
    position: absolute;
    left: 435px;
    top: 150px;
    font-size: 144px;
    /* line-height: 197px; */
}

.dog {
    position: absolute;
    left: 140px;
    top: 300px;
    font-size: 63px;
}



.new-game {
    position: absolute;
    width: 109px;
    height: 58px;
    left: 49px;
    top: 523px;
}

.reset-play-area {
    position: absolute;
    width: 109px;
    height: 58px;
    left: 206px;
    top: 523px;
}

.hint {
    position: absolute;
    width: 110px;
    height: 58px;
    left: 122px;
    top: 608px;
}

.play-area {
    background-color: #ffffff;
    position: absolute;
    width: 739px;
    height: 160px;
    left: 363px;
    top: 523px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hint-display {
    position: absolute;
    background: rgba(0, 0, 0, 0.50);
    width: 630px;
    height: 106px;
    text-align: center;
    
}

.hint-display p {
    display: inline;
    font-family: 'Ribeye', sans-serif;
    font-size: 18px;
    color: #ffffff;
}

.new-game, .reset-play-area, .hint {
    font-family: 'Ribeye', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-radius: 15px;
}

.new-game:hover, .reset-play-area:hover, .hint:hover {
    background: #afbcf7;
}

.placement {
    display: block;
    font-size: 60px;
    text-align: center;
    line-height: 3em;
}